/* 
	.links li:hover {
  		border-color: var(--foreground);
	} 
*/
.hello {
    display: grid;
 	gap: 3em;
}
.hello .about-me p:last-of-type {
	padding-top: 1em;
}
.hello .about-me {
	font-size: clamp(1rem, 2vw, 1.25rem);
}
.hello .about-me a {
	display: block;
	font-size: clamp(1.125rem, 3vw, 1.5rem);
	text-align: center;
	color: var(--foreground);
	margin: 2em 0 0 auto;
	padding: .5em 1em;
	
	width: 100%;

	border: 1px solid rgb(var(--primary-rgb) / 0.3);
	border-radius: 0.5rem;

		will-change: border-color, color, background-color;
		transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}
.hello .about-me a:hover {
	color: var(--background);
	/* background-image: linear-gradient(180deg,var(--primary),#2fa4ff); */
	background-color: var(--primary);
  	border-color: rgb(var(--primary));
}
.hello .about-social {
	display: grid;
	gap: 1em;
}
.hello .about-social a {
  display: flex;
  gap: 1em;
  align-items: center;  padding: .5em 1rem;

  border: 1px solid rgb(var(--primary-rgb) / 0.3);
  border-radius: 0.5rem;
 
	will-change: border-color, color, transform;
	transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.hello .about-social a:hover {
	color: var(--primary);
  	border-color: var(--primary);
	transform: scale(1.01);
}
.hello .about-social a svg {
	fill: var(--primary);
}
@media only screen and (min-width: 768px) {
	.hello {
		grid-template-columns: 2fr 1fr;
	}
	.hello .about-me {
		display: grid;
		text-align: justify;
	}
	.hello .about-social {
		gap: 2em;
	}
}