.stacks {
    box-sizing: border-box;
    border: 1px solid var(--foreground);
    border-radius: .25em;
}
.stacks .inner {
    display: grid;
    gap: 3em;
}
.stack-title {
    font-size: clamp(1.25rem, 4vw, 1.875rem);
}
.stack {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
    padding: .5em;
    box-sizing: border-box;
    margin-top: 1em;
    border-radius: .25em;
}
.stack .stack-title {
    font-size: clamp(1rem, 3vw, 1.125rem);
    font-weight: 800;
}
.stack .stack-description {
    font-size: clamp(.85rem, 2vw, 1rem);
    color: var(--custom-text-color);
}
.stack svg {
    fill: var(--primary);
}

@media screen and (min-width: 520px){
    .stacks .inner {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px){
    .stacks .inner {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (any-hover: hover){
    .stack {
        will-change: background;
        transition: background .3s ease;
    }
    .stack:hover {
        background: color-mix(in srgb, var(--foreground) 100%, rgb(0 0 0 / 0));
    }
    .stack .stack-title,
    .stack .stack-description {
        will-change: color;
        transition: color .3s ease;
    }
    .stack:hover .stack-title {
        color: var(--background);
    }
    .stack:hover .stack-description {
        color: var(--background);
    }
}










.search-container {
    position: relative;
    margin-bottom: 2rem;
    /* max-width: 400px; */
}
.search-input {
    width: 100%;
    padding: 12px 45px 12px 16px;
    border: 2px solid var(--bg-gray);
    border-radius: 8px;
    font-size: clamp(.65rem, 2vw, 1rem);
    background-color: var(--text-color-light);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.search-input:focus {
    outline: none;
    /* border-color: var(--primary-rgb, #3b82f6); */
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}
.search-input::placeholder {
    color: #9ca3af;
}
.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.no-results {
    text-align: center;
    padding: 2rem;
    font-style: italic;
}