.banner-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-inline: 1rem;
}
.banner-title {
  font-size: clamp(2.1rem, 4vw, 3.8rem);
  font-weight: 600;
  line-height: clamp(2.4rem, 3vw, 3.4rem);

  margin-inline: auto;
  width: max(95%, 75%);
}
.banner-bg {
  /* background-color: color-mix(in srgb, var(--primary) 100%, rgb(0 0 0 / 0%));
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill-rule='evenodd'/%3E%3C/svg%3E")
   */
  background-image: radial-gradient(var(--primary) 5%,transparent 0);
  background-repeat: repeat;
  background-size: 20px 20px; 
}