.blog {
    margin-bottom: 3em;
}
.blog .blog-title {
    font-size: clamp(1.875rem, 4vw, 3rem);
    font-weight: 800;
    line-height: 1;
    margin: 0;
}
.blog-author {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}
.blog .blog-author-image {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    object-fit: cover;
}
.blog .blog-author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.blog .blog-author-name {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
    line-height: 1;
}
.blog .blog-date {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600;
    line-height: 1.1;
    margin-top: 1em;
    color: var(--color-text-light);
}  
.blog .blog-image {
    margin-top: 2em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75em;
}