.featured-wrapper {
    /* border: 4px solid var(--background); */
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;
    margin-top: 2em;
}

.featured-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.5em;
    border: 4px solid var(--primary);
    pointer-events: none;
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.3s cubic-bezier(.4,0,.2,1), opacity 0.3s cubic-bezier(.4,0,.2,1);
    z-index: -1;
}

.featured-wrapper:hover::before,
.featured-wrapper:focus-within::before {
    transform: scale(1);
    opacity: 1;
}

.featured-inner {
    margin: .25rem;
    border-radius: 0.5em;
    background: color-mix(in srgb, var(--bg-gray) 100%, rgb(0 0 0 / 0));
}
.featured-post {
    display: grid;
    gap: min(2em, 4vw);
    align-items: center;
    border-radius: 0.5em;
    padding: min(3.5em, 5vw);
}
.featured-post .media {
    border-radius: .5em;
    overflow: hidden;
}
.featured-post .media img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.featured-post .info {
    display: grid;
    grid-template-rows: 1fr auto;
    align-self: stretch;
    gap: min(1em, 4vw);
}
.featured-post .info h2 {
    font-size: clamp(1.875rem, 3.5vw, 2.5rem);
    font-weight: 800;
    line-height: 1.1;
    margin: 0;
}
.featured-post .info span {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600;
    line-height: 1.1;
    margin-top: 1em;
    color: var(--color-text-light);
}
.featured-post .info p {
    display: none;
}
.featured-post .info .read-more-wrapper {
    display: flex;
    align-items: center;
    gap: min(1em, 4vw);
    margin-top: 1.5em;
}
.featured-post .info .read-more-svg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid var(--foreground);
    border-radius: 50%;
    padding: 0.25em;
    width: fit-content;
    height: fit-content;
}

.blogs-list {
    display: grid;
    gap: min(2em, 4vw);
    padding-top: min(1em, 4vw);
}
.blogs-list .blogs-blog {
    /* border: 2px solid var(--background); */
    border-radius: 0.5em;
    transition: border-color 0.5s ease;
    will-change: border-color;
}
.blogs-list .blogs-blog .media {
    overflow: hidden;
}
.blogs-list .blogs-blog img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    padding: .25rem;
    border-radius: 0.75em;
    border: 2px solid var(--background);
}
.blogs-list .blogs-blog .info {
    padding: min(1em, 4vw) calc(.25rem + 2px);
}
.blogs-list .blogs-blog .info h3 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 600;
    line-height: 1.1;
    margin: 0;
}
.blogs-list .blogs-blog .info span {
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 600;
    line-height: 1.1;
    margin-top: 1em;
    color: var(--color-text-light);
}


@media only screen and (min-width: 576px) {
    .blogs-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .featured-post {
        grid-template-columns: 1fr 1fr;
    }
    .featured-post .media {
        order: 1;
    }
    .featured-post .info p {
        display: block;
        font-size: clamp(1rem, 2vw, 1.25rem);
        font-weight: 400;
        line-height: 1.1;
        margin-top: 0.5em;
        color: var(--color-text-light);
    }
    .blogs-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (any-hover: hover) {
    .featured-wrapper,
    .blogs-list .blogs-blog img {
        will-change: border-color;
        transition: border-color 0.5s ease;
    }
    .featured-wrapper:hover,
    .blogs-list .blogs-blog:hover img {
        border-color: var(--primary);
    }
    .featured-wrapper .info .read-more-svg {
        will-change: border-color;
        transition: border-color 0.5s ease;
    }
    .featured-wrapper:hover .info .read-more-svg {
        border-color: var(--primary);
    }
    .featured-wrapper .info .read-more-svg svg {
        will-change: fill;
        transition: fill 0.5s ease;
    }
    .featured-wrapper:hover .info .read-more-svg svg {
        fill: var(--primary);
    }
}