# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# tests
bucket
public/images/i1.png
public/images/i2.png
public/images/i3.png
public/images/i4.png
public/images/i5.png
public/images/i6.png
public/images/i8.png
# public/images/i9.png
public/images/i10.png
public/images/i11.png
public/images/i12.png

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts